<mat-toolbar color="primary">
  <mat-toolbar-row>

    <img src="../src/assets/img/2.png" id="nav-logo">
    <span class="app-name">sit-a-babe</span>

    <span class="example-spacer"></span>
    <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="home">Home</button>
    <button *ngIf="authService.isLoggedIn() && !authService.isLoggedInAdmin()" mat-button routerLink="browse">Browse</button>
    <button *ngIf="!authService.isLoggedIn() && !authService.isLoggedInAdmin()" mat-button routerLink="login">Login</button>
    <button *ngIf="!authService.isLoggedIn() && !authService.isLoggedInAdmin()" mat-button routerLink="signup">Sign up</button>
    <button *ngIf="authService.isLoggedIn() && !authService.isLoggedInAdmin()" mat-button (click)="profileSidebar.toggle(); toggleSidebar(); openCurrentUser()" id="profileButton">Profile</button>
    <button *ngIf="authService.isLoggedIn() || authService.isLoggedInAdmin()" mat-button (click)="authService.logUserOut()">Logout</button>


  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container id="profileContainer" (backdropClick)="profileSidebar.toggle(); toggleSidebar()">
  <mat-sidenav #profileSidebar (keydown.escape)="profileSidebar.close()" position="end">
    <app-profile></app-profile>
  </mat-sidenav>
</mat-sidenav-container>