<div class="to-middle-spacer-half"></div>
<div class="to-middle-spacer-half"></div>

<div class="container">
  <p class="text-center middle-text">
    First, please tell us a bit about yourself. <br>Are you a ..?<br><br>
  </p>
</div>

<div class="container">

  <mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab label="Parent" id="e2eDaddySignup">
      <div class="mat-elevation-z4">

        <div class="to-middle-spacer-half"></div>
        <div class="container flex">
          <form [formGroup]='parentSignup' (ngSubmit)="onRegisterParent()">
        
            <!-- Value: {{parentSignup.value | json}} -->
        
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstNameParent" id="e2eDaddySignupName">
                <mat-error *ngIf='firstNameParent.invalid && firstNameParent.touched'>
                  Your name should be at least 2 characters long.
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastNameParent" id="e2eDaddySignupSurname">
                <mat-error *ngIf='lastNameParent.invalid && lastNameParent.touched'>
                  Your last name should be at least 2 characters long.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput [matDatepicker]="dateOfBirthPickerParent" placeholder="Your date of birth" formControlName="dateOfBirthParent" id="e2eDaddySignupBirthDate">
                <mat-datepicker-toggle matSuffix [for]="dateOfBirthPickerParent"></mat-datepicker-toggle>
                <mat-datepicker #dateOfBirthPickerParent startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error *ngIf='dateOfBirthParent.invalid && dateOfBirthParent.touched'>
                  Please enter your date of birth.
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="to-middle-spacer-half"></div>
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="emailParent" id="e2eDaddySignupEmail">
                <mat-error *ngIf='emailParent.invalid && emailParent.touched'>
                  Please enter a valid email.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="passwordParent" id="e2eDaddySignupPassword">
                <mat-hint>Min. 8 characters (at least one number)</mat-hint>
                <mat-error *ngIf='passwordParent.invalid && passwordParent.touched'>
                  Please enter a valid password.
                  <span *ngIf='parentSignup.get("passwordParent").errors["passwordIsForbidden"]'>
                    This password is too weak.
                  </span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Repeat Password" formControlName="passwordParentRepeat">
                <mat-error *ngIf='passwordParentRepeat.invalid && passwordParentRepeat.touched'>
                  Please enter a valid password.
                </mat-error>
              </mat-form-field>
            </div>
        
            <button mat-raised-button color="accent" id="buttonSignUpParent" class="signupButtons" >Sign up</button>

          </form>
        </div>



      </div>
    </mat-tab>

    <mat-tab label="Sitter">
      <div class="mat-elevation-z4">


        <div class="to-middle-spacer-half"></div>
        <div class="container flex">
          <form [formGroup]='sitterSignup' (ngSubmit)="onRegisterSitter()">
        
            <!-- Value: {{sitterSignup.value | json}} -->
        
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstNameSitter">
                <mat-error *ngIf='firstNameSitter.invalid && firstNameSitter.touched'>
                  Your name should be at least 2 characters long.
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastNameSitter">
                <mat-error *ngIf='lastNameSitter.invalid && lastNameSitter.touched'>
                  Your last name should be at least 2 characters long.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput [matDatepicker]="dateOfBirthPickerSitter" placeholder="Your date of birth" formControlName="dateOfBirthSitter">
                <mat-datepicker-toggle matSuffix [for]="dateOfBirthPickerSitter"></mat-datepicker-toggle>
                <mat-datepicker #dateOfBirthPickerSitter startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error *ngIf='dateOfBirthSitter.invalid && dateOfBirthSitter.touched'>
                  Please enter your date of birth.
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="to-middle-spacer-half"></div>
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="emailSitter">
                <mat-error *ngIf='emailSitter.invalid && emailSitter.touched'>
                  Please enter a valid email.
                </mat-error>
              </mat-form-field>
            </div>
            
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="passwordSitter">
                <mat-hint>8 characters (at least one number.)</mat-hint>
                <mat-error *ngIf='passwordSitter.invalid && passwordSitter.touched'>
                  Please enter a valid password.
                  <span *ngIf='sitterSignup.get("passwordSitter").errors["passwordIsForbidden"]'>
                    This password is too weak.
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            
            <div class="form-field-wrapper-single">
              <mat-form-field>
                <input matInput placeholder="Repeat Password" formControlName="passwordSitterRepeat">
                <mat-error *ngIf='passwordSitterRepeat.invalid && passwordSitterRepeat.touched'>
                  Please enter a valid password.
                </mat-error>
              </mat-form-field>
            </div>
        
            <button mat-raised-button color="accent" id="buttonSignUpSitter" class="signupButtons">Sign up</button>

          </form>
        </div>



      </div>
    </mat-tab>
  </mat-tab-group>

</div>

<!--<router-outlet></router-outlet> -->