<div class="container">

  <div class="to-middle-spacer"></div>
  <div class="to-middle-spacer-half"></div>
  <h2>
    WELCOME TO
  </h2>
  <h1>
    sit-a-babe
  </h1>
  <div class="flex">
    <img src="../src/assets/img/logo-03.png" class="img-in-the-middle" alt="logo">
  </div>

</div>

<img src="../src/assets/img/room-07.png" class="full-width-img" alt="room">

<div class="to-middle-spacer"></div>
<div class="container">
  <p class="text-center middle-text">
    Lorem ipsum cras bibendum sodales mattis. Vestibulum eget feugiat est. Nam lectus tellus, lacinia id suscipit ut, mattis quis ante.
    Aenean a pretium velit, nec bibendum purus. Quisque nec finibus lectus, et maximus mi. Etiam aliquam et turpis sed
    efficitur. Quisque tempus sed nisl ut placerat.
  </p>
</div>

<div class="to-middle-spacer"></div>
<div class="container">
  <p class="text-center middle-text after-absolute-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis est, feugiat porta molestie ut, molestie blandit
    lacus. Aenean maximus tortor augue, ut porttitor tellus posuere tempor. Aliquam rhoncus lacus ac semper dapibus. Nullam
    pulvinar hendrerit sem, a maximus neque sagittis non. 
    <br><br>Vivamus dapibus, nulla a facilisis varius, augue lectus pulvinar
    mauris, vitae vestibulum lacus risus quis nulla. Etiam mi risus, mattis ac finibus pretium, tincidunt in magna.
    Pellentesque tincidunt dui nec mi auctor, a congue dui vestibulum. Morbi a convallis odio. Phasellus commodo leo quis
    nulla maximus ullamcorper. 
    <br><br>Phasellus ac nibh non ligula hendrerit sollicitudin. Aenean turpis nunc, bibendum at pretium
    non, sodales at enim.
  </p>
</div>

<div class="to-middle-spacer-half"></div>
<div class="container flex">
  <button mat-raised-button color="accent" id="center"  (click)="goToSignup()">Not a member yet? Sign up today!</button> 
</div>
<div class="to-middle-spacer"></div>